<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<h2>Add User</h2>

<form th:action="@{/users}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Name:</label>
        <label>
            <input type="text" th:field="*{name}" />
        </label>
    </div>

    <div>
        <label>Last name:</label>
        <label>
            <input type="text" th:field="*{surname}" />
        </label>
    </div>

    <div>
        <label>Age:</label>
        <label>
            <input type="text" th:field="*{age}" />
        </label>
    </div>

    <div>
        <label>Email:</label>
        <label>
            <input type="text" th:field="*{email}" />
        </label>
    </div>

    <br/>

    <button type="submit">Save</button>


</form>

</body>
</html>
