<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h2>Edit User</h2>

<form th:action="@{/users/update}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Name:</label>
        <label>
            <input type="text" th:field="*{name}" />
            <div th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}" style="color:red"></div>

        </label>
    </div>

    <div>
        <label>Surname:</label>
        <label>
            <input type="text" th:field="*{surname}" />
            <div th:if="${#fields.hasErrors('surname')}"
                 th:errors="*{surname}" style="color:red"></div>
        </label>
    </div>

    <div>
        <label>Age:</label>
        <label>
            <input type="text" th:field="*{age}" />
            <div th:if="${#fields.hasErrors('age')}"
                 th:errors="*{age}" style="color:red"></div>
        </label>
    </div>

    <div>
        <label>Email:</label>
        <label>
            <input type="text" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}" style="color:red"></div>
        </label>
    </div>

    <br/>

    <button type="submit">Save</button>


</form>

</body>
</html>
